<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菜品</title>
    <script src="../commonjs/vue.js"></script>
    <script src="../commonjs/axios.min.js"></script>
    <script src="../commonjs/info.js"></script>
    <style>
        .records {
            width: 20vw;
            height: 15vh;
        }

        #div1 {
            margin-top: 100px;
            display: flex;
        }

        .records img {
            width: 50vw;
            height: 14vh;
        }

        .records p {
            width: 20vw;
            height: 1vh;
        }

        #div0 {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
        }

        #btn1 {
            width: 4vw;
            height: 5vh;
            background: #000000;
            color: aliceblue;
        }

        #deleteButton {
            border: none;
            color: #ff0000;
        }

        #showButton {
            border-radius: 5px;
            border: none;
            background: #169bd5;
            color: #ffffff;
        }

        #hiddenDiv {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 90%;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.5);
            background: #ffffff;
        }

        body {
            font-family: Arial, sans-serif;
        }

        table.menu-table {
            width: 100%;
            border-collapse: collapse;
            /* 移除相邻边框之间的距离 */
            margin-top: 20px;
            /* 与页面顶部保持一些距离 */
        }

        table.menu-table th,
        table.menu-table td {
            border: 1px solid #ddd;
            /* 添加边框 */
            padding: 8px;
            /* 单元格内边距 */
            text-align: left;
            /* 文本左对齐 */
        }

        table.menu-table th {
            background-color: #f2f2f2;
            /* 表头背景色 */
        }

        table.menu-table img {
            max-width: 100px;
            /* 图片最大宽度 */
            height: auto;
            /* 图片高度自适应 */
            margin-right: 10px;
            /* 与右侧文本保持一些距离 */
        }

        /* 设置遮层罩 */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            /* 默认隐藏 */
        }
    </style>
</head>

<body background="#F3F4F7">
    <div id="app">
        <div class="overlay" id="overlay"></div>
        <div id="div0">
            <form>
                菜品名称：<input placeholder="请填写菜品名称" type="text" id="input1">
                售卖状态：<select id="select1" size="1">
                    <option value="0">
                        停售
                    </option>
                    <option value="1">
                        启售
                    </option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="btn1" type="button" value="搜索" @click="Search()">
            </form>
            <!-- <button id="deleteButton" @click="delete()">批量删除</button> -->
            <button id="showButton" @click="showHiddenDiv">新建菜品</button>
        </div>
        <table class="menu-table">
            <thead>
                <tr>
                    <th>菜品名称</th>
                    <th>图片</th>
                    <th>菜品分类</th>
                    <th>售价</th>
                    <th>售卖状态</th>
                    <th>操作时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="records" v-for="(item,index) in records" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td><img :src="item.image" :id="step(index)"></td>
                    <td>{{item.categoryName}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.status}}</td>
                    <td>2019-02-02 11:11</td>
                    <td>&nbsp;<input type="button" @click="deleteItem(item.id)" value="删除">&nbsp;<input type="button" value="变更出售状态" @click="change0(item.id)"></td>
                </tr>
            </tbody>

        </table>
        <div id="hiddenDiv" style="display: none;">
            <form onsubmit="return func()">
                <p>填写以下菜品信息</p>
                <p>&nbsp;菜品&nbsp;i&nbsp;&nbsp;d&nbsp;&nbsp;&nbsp;:<input type="text" id="dish_id" /></p>
                <p>&nbsp;菜品名称&nbsp;&nbsp;:<input type="text" id="dish_name" /></p>
                <p>菜品分类id:<input type="text" id="dish_categorid" /></p>
                <p>&nbsp;菜品价格&nbsp;&nbsp;:<input type="text" id="dish_price" /></p>
                <p>&nbsp;菜品图片&nbsp;&nbsp;:<input type="file" id="dish_image" @change="dealSelectFiles()" webkitdirectory
                        multiple>
                    <canvas id="myCanvas" width=144 height=90></canvas>
                </p>
                <p>&nbsp;菜品描述&nbsp;&nbsp;:<input type="text" id="dish_description" /></p>
                <p>菜品口味:
                <div id="app">
                    <input type="text" v-model="currentInput.field1" id="currentInput.field1" placeholder="输入口味分类">
                    <input type="text" v-model="currentInput.field2" id="currentInput.field2" placeholder="输入详细口味">
                    <!-- <button @click="saveData">Save</button>   -->
                    <ul>
                        <li v-for="(item, index) in savedData" :key="index">
                            {{ item }}
                        </li>
                    </ul>
                </div>
                </p>
                <p>&nbsp;&nbsp;状&nbsp;&nbsp;态&nbsp;&nbsp;:<select id="create_type">
                        <option value="0">未出售</option>
                        <option value="1">出售中</option>
                    </select>
                </p>
                <div style="float: right;">
                    <button class="my-btn-gray" ng-click="create_paper_cancel()">取消</button>
                    <input type="button" value="保存" @click="add()">
                </div>
            </form>
            <button @click="saveData()">保存并继续输入口味</button>
        </div>
    </div>

</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            msg: "",
            imagesArray: [],
            newnumber: 0,
            inputone: "",
            inputtwo: "",
            item: [],
            currentInput: { // 临时存储两个输入框的值  
                field1: '',
                field2: ''
            },
            savedData: [], // 保存包含两个字段的对象的数组  
            records: [
            ],
            options: [
                { text: '12345679' },
                { text: '456' }
            ],
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {

            this.getAll();

        },

        methods: {
            step: function (i) {
                return "img" + i
            },
            dealSelectFiles() {
                const self = this;
                var imgPosX = 0;
                var imgWidth = 256;
                /// get select files.
                var dish_image = document.getElementById("dish_image").files;
                self.imagesArray.push(dish_image[0]);
                var index = 0;
                for (var file of dish_image) {
                    index = index + 1;
                    console.log(file.webkitRelativePath);

                    /// read file content.
                    var reader = new FileReader();
                    reader.readAsDataURL(file);

                    reader.onloadend = function () {
                        /// deal data.
                        var imag = new Image();
                        /// after loader, result storage the file content result.
                        imag.src = this.result;
                        imag.onload = function () {
                            // self.imagesArray.push(imag);
                            var myCanvas = document.getElementById("myCanvas");
                            var cxt = myCanvas.getContext('2d');
                            cxt.drawImage(imag, imgPosX, 0, 144, 90);
                            imgPosX += imgWidth;
                        }
                    }
                }
            },
            add() {
                const image = this.imagesArray[this.newnumber];
                const cpid = document.getElementById('dish_id').value;
                const cpname = document.getElementById('dish_name').value;
                const cpflid = document.getElementById('dish_categorid').value;
                const cpprice = document.getElementById('dish_price').value;
                const description = document.getElementById('dish_description').value;
                // const taste1 = document.getElementById('currentInput.field1').value;
                // const taste2 = document.getElementById('currentInput.field2').value;
                // const taste3 = document.getElementById('currentInput.field1').value;
                // const taste4 = document.getElementById('currentInput.field2').value;
                // const taste5 = document.getElementById('currentInput.field1').value;
                // const taste6 = document.getElementById('currentInput.field2').value;
                const status = document.getElementById('create_type').value;
                let formData = new FormData();

                // 添加图片文件到 FormData  
                formData.append('file', image); // 注意这里的 'file' 应该与服务器期望的字段名一致  

                // 添加其他字段到 FormData（如果需要的话）  
                formData.append('dishid', cpid);
                formData.append('imageid', this.newnumber);
                axios({
                    url: "http://" + baseurl + "/admin/upLoadImage",
                    method: "post",
                    headers: {
                        'token': localStorage.getItem("token")
                    },
                    data: formData,
                }).then( (response) => {
                    this.msg = response.data.msg
                    this.newnumber += 1;
                    console.log(this.savedData);
                    console.log(this.savedData[1]);
                    return axios({
                        url: "http://" + baseurl + "/admin/dish",
                        method: "post",
                        headers: {
                            'Content-Type': 'application/json',
                            'token': localStorage.getItem("token")
                        },
                        data: {
                            "id": this.cpid,
                            "name": cpname,
                            "categoryId": cpflid,
                            "price": cpprice,
                            "image": this.msg,
                            "description": description,
                            "status": status,
                            "flavors": [
                                {
                                    "name": this.savedData[0].口味,
                                    "value": this.savedData[0].详细口味

                                },
                                {
                                    "name": this.savedData[1].口味,
                                    "value": this.savedData[1].详细口味
                                },
                                {
                                    "name": this.savedData[2].口味,
                                    "value": this.savedData[2].详细口味
                                }
                            ]
                        }
                    }).then(function (response) {
                    });
                });

                this.getAll();
            },
            Search() {
                this.inputone = document.getElementById('input1').value;
                this.inputtwo = document.getElementById('select1').value;
                this.getAll();
            },
            deleteItem(id) {
                axios({
                    url: "http://" + baseurl + "/admin/dish",
                    method: "delete",
                    headers: {
                        'Content-Type': 'application/json',
                        'token': localStorage.getItem("token")
                    },
                    params: {
                        "ids": id
                    }
                }).then((response) => {
                    this.getAll(); 
                }).catch((error) => {
                    // 处理错误  
                    console.error(error);
                });
            },
            change0(id){
                axios({
                    url: "http://" + baseurl + "/admin/dish/status/"+id,
                    method: "post",
                    headers: {
                        'Content-Type': 'application/json',
                        'token': localStorage.getItem("token")
                    },
                    data: {
                    }
                }).then((response) => {
                    this.getAll(); 
                }).catch((error) => {
                    // 处理错误  
                    console.error(error);
                });
            },
            getAll() {
                axios({
                    url: "http://" + baseurl + "/admin/dish/page",
                    method: "post",
                    headers: {
                        'Content-Type': 'application/json',
                        'token': localStorage.getItem("token")
                    },
                    data: {
                        "page": 1,
                        "pageSize": 100,
                        "name": this.inputone,
                        "status": this.inputtwo
                    }
                }).then(function (response) {
                    console.log(response.data.data.records);
                    vue.records = response.data.data.records
                    for (let i = 0; i < vue.records.length; i++) {
                        vue.records[i].image = "http://" + baseurl + vue.records[i].image
                        if (vue.records[i].status == 1) {

                            vue.records[i].status = "启售"
                        } else {
                            vue.records[i].status = "停售"
                        }
                    }
                    if (response.data.code == 0) {
                        swal(response.data.msg)
                    }
                });

            },
            saveData() {
                if (this.currentInput.field1 || this.currentInput.field2) { // 检查是否有输入值  
                    this.savedData.push({ // 将对象添加到数组中  
                        口味: this.currentInput.field1,
                        详细口味: this.currentInput.field2
                    });
                    this.currentInput.field1 = ''; // 清空输入框1  
                    this.currentInput.field2 = ''; // 清空输入框2  
                }
            },
            showHiddenDiv() {
                var hiddenDiv = document.getElementById("hiddenDiv");
                var overlay = document.getElementById("overlay");
                hiddenDiv.style.display = "block"; // 将 display 属性设置为 "block" 来显示元素  
                overlay.style.display = "block";
            }
        }
    })
</script>


</html>