<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cb.mapper.ShoppingCartMapper">

    <select id="list" resultType="com.cb.pojo.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="flavorId != null">
                and flavor_id = #{flavorId}
            </if>
        </where>
    </select>

    <insert id="insertBatch" parameterType="list">
        insert into shopping_cart (name, image, user_id, dish_id, flavor_id, number, create_time,status)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name},#{sc.image},#{sc.userId},#{sc.dishId},#{sc.flavorId},#{sc.number},#{sc.createTime},#{sc.status})
        </foreach>
    </insert>
</mapper>
